@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.brand-logo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px; 
    text-decoration: none;
    color: #797979;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 24px 120px 24px 120px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
nav a {
    text-decoration: none;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    /*margin-left: 24px;*/
}
nav li {
    display: inline-block;   
}
nav li a {   
    padding: 0px 24px;
}

#home {
    display: flex;
    padding: 24px 120px 24px 120px;
}
.home-role {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #797979;
}
.home-name {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    color: #000000;
}
.home-description {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #333333;
}
.home-link {
    color: #000000;
    text-decoration: none;
}
.home-link:hover {
    text-decoration: underline;
}
.home-buttons1 {
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 15px;
}
